#content {

    background-image: url('./img/images.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#wrap{
    width: auto;
    min-width: 250px;
    min-height: 350px;
    height: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(231, 229, 229);
    border-radius: 15px;
}

#wrap > img{
    width: 250px;
    height: 120px;
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius:15px ;
}

#wrap #pokemon{
    width: 100px;
    background: rgb(18 201 153);
    display: flex;
    flex-basis: 50%;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    margin-top: 50px;
    border: 5px solid rgb(0 140 103) ;
    box-shadow: 0px 0px 10px  rgb(0 140 105);
}

#pokemon img{
    width: 100%;
}

#wrap #text-center{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    flex-wrap: wrap;
}

#Charizard{
    display: flex;
    justify-content: end;
    flex-basis: 60%;
    font-size: 20px;
    font-weight:bold;

}

#numero{
    color: rgb(233, 171, 58);
    flex-basis: 35%;
    font-size: 20px;
}

#coleccionable{
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 10px;
    flex-basis: 100%;
    border-bottom: 1px solid #ccc;
}

#parte-inferior{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    font-size: 15px;
    justify-content: center;
    flex-direction: row;
}
#parte-inferior div{
   text-align: center;
    flex-basis: 30%;
}

#parte-inferior img{
    width: 30px;
} 